{% load static %}
<html lang="pl">
        <head>
            <meta charset="UTF-8">
            <title>Blog o Tygrysach</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
            <script src="https://use.fontawesome.com/451851369b.js"></script>
            <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        </head>
<body style="background-color:#fffff;">

<nav class="navbar navbar-light" style="background-color: #1a0000;">
    <a class="top-menu" href="/">Facebook</a>
    <a class="top-menu" href="/">Instagram</a>
    <a class="top-menu" href="/">Snapchat</a>
    <a class="top-menu" href="/">Youtube</a>
    <div class="plus">
    {% if user.is_authenticated %}
    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
    </a></div>
</nav>
    <div class="all">
<nav class="navbar navbar-light bg-light">
      <div class="page-header">
          <img src="/media/images/logo.png" height="5%">
        <a class="nav-link" href="/"><b>Strona główna</b></a>
        <a class="nav-link" href="#"><b>Najnowsze artykuły</b></a>
        <a class="nav-link" href="#"><b>Galeria</b></a>
        <a class="nav-link" href="#"><b>Kontakt</b></a>
      </div>
    <div class="gora">
    <p class="title"><b>Blog o tygrysach</b></p>
    <img class="baner" src="/media/images/baner.jpg"><br/><br/><br/>
</div>
</nav>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</div>
<div class="stopka">
<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <h6><b>O nas</b></h6>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque maximus, magna at euismod semper, turpis elit vulputate velit, consequat ultrices augue odio et libero. Pellentesque ac nulla elit. Aliquam suscipit nisl nunc, at tempus mi hendrerit at. Nullam tincidunt nisi sit amet orci mollis dictum. Nullam sollicitudin faucibus ante tempus pellentesque. Etiam euismod elit lacinia erat consequat vehicula. Aliquam id eros fermentum, aliquet arcu eu, porta orci. Nam lorem ipsum, convallis et condimentum feugiat, viverra at risus.</p>
          </div>

          <div class="col-xs-6 col-md-2">
            <h6><b>Kategorie</b></h6>
            <ul class="footer-links">
              <li><a href="/">Tygrys bengalski</a></li>
              <li><a href="/">Tygrys azjatycki</a></li>
              <li><a href="/">Tygrys syberyjski</a></li>
              <li><a href="/">Tygrys kaspijski</a></li>
              <li><a href="/">Tygrys sumatrzański</a></li>
              <li><a href="/">Tygrys chiński</a></li>
                <li><a href="/">Tygrys indochiński</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-2">
            <h6><b>Szybkie linki</b></h6>
            <ul class="footer-links">
              <li><a href="/">O nas</a></li>
              <li><a href="/">Kontakt</a></li>
              <li><a href="/">Współpraca</a></li>
              <li><a href="/">Polityka Cookies</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
         <a href="#">Cotentygrys</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
                <li><a class="instagram" href="#"><i class="fa fa-instagram fa-2x"></i></a></li>
              <li><a class="facebook" href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
              <li><a class="snapchat" href="#"><i class="fa fa-snapchat fa-2x"></i></a></li>
              <li><a class="youtube" href="#"><i class="fa fa-youtube fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer></div>

</body>
</html>